
services:
  material-estoque:
    build: .
    container_name: material-estoque
    ports:
      - "${APP_PORT}:8080"
      - "5006:5005"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: dev
      JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://identidade-acesso:8080/.well-known/jwks.json
    networks:
      - microsservicos-dev

networks:
  microsservicos-dev:
    external: true