name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Fazer checkout do código
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Build Maven sem testes
        run: mvn clean package -DskipTests

      - name: Definir versão dinâmica (número do build)
        run: echo "VERSION=0.0.${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV

      - name: Login Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build imagem Docker com tag dinâmica
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/identidade-acesso:${{ env.VERSION }} .

      - name: Push da imagem para Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/identidade-acesso:${{ env.VERSION }}
